= form_for @activity do |f|
  .row
    .large-12.columns
      %label
        Select type
        = f.select :category_title,
          Category.all.map { |p| [ p.name.to_s, p.name ] },
          include_blank: true
      %label
        Start Time
        = f.time_select :start_time,
              combined: true,
              default: Time.zone.now,
              minute_interval: 1,
              time_separator: ""
      %label
        End Time
        = f.time_select :end_time,
              combined: true,
              default: Time.zone.now + 10.minutes,
              minute_interval: 1,
              time_separator: ""

      %label
        Notes
        = f.text_area :note
        = f.submit 'Send', class: 'button expand'

