.row
  .large-12.columns
    %h4 Todays Activity
    %h5= "Breast milk: #{Activity.by_date_and_category(Time.zone.now.beginning_of_day, 'Breast Milk').count}"
    %h5= "Diaper changes - pee: #{Activity.by_date_and_category(Time.zone.now.beginning_of_day, 'Diaper Change - Pee').count}"
    %h5= "Diaper changes - poop: #{Activity.by_date_and_category(Time.zone.now.beginning_of_day, 'Diaper Change - Poop').count}"
    %h4 All Activity
    %table
      %thead
        %tr
          %th{:width => "200"} Activity Type
          %th{:width => "200"} Time started
          %th{:width => "150"} Time Ended
          %th{:width => "100"} Notes
          %th{:width => "150"} Edit
          %th{:width => "150"} Delete
      %tbody
      - @activities.each do |activity|
        %tr
          %td= activity.category_title
          %td= activity.start_time.to_formatted_s( format = :short)
          %td= activity.end_time.to_formatted_s( format = :short)
          %td= activity.note
          %td= link_to 'Edit', edit_activity_path(activity), class: 'button alert'
          %td= link_to 'Destroy', activity_path(activity), method: :delete, class: 'button alert'


