.row
  .large-12.columns
    %h4 Todays Activity
    %h5= "Breast milk: #{activity_count_today 'Breast Milk'}"
    %h5= "Diaper changes - pee: #{activity_count_today 'Diaper Change - Pee'}"
    %h5= "Diaper changes - poop: #{activity_count_today 'Diaper Change - Poop'}"
    %h4 All Activity
    = render partial: "table", collection: @activities
